@model IEnumerable<test.Models.Sach>
@{
    ViewBag.Title = "ListSach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>THÔNG TIN SÁCH</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Tim Kiem: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th> @Html.ActionLink("Ma Loai", "ListSach", new { sortOrder = ViewBag.MaSortParm })  </th>
        <th>  @Html.ActionLink("Ten Sach", "ListSach", new { sortOrder = ViewBag.TenSortParm }) </th>
        <th> Hình </th>
        <th> Giá bán</th>
        <th> Ngày cập nhật </th>
        <th> Số lượng tồn</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.maloai)</td>
            <td>@Html.DisplayFor(modelItewm => item.tensach)</td>
            <td><img src="@item.hinh" alt="hinh thumbnail" /></td>
            <td>@Html.DisplayFor(modelItem => item.giaban)</td>
            <td>@Html.DisplayFor(modelItem => item.ngaycapnhat)</td>
            <td>@Html.DisplayFor(modelItem => item.soluongton)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.masach }) |
                @Html.ActionLink("Detail", "Detail", new { id = item.masach }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.masach })
            </td>
        </tr>
    }
</table>
